#cherry-product{
    width: 100vw;
    height: auto;
    padding: 3rem;
    background-color: #6E2070;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

#cherry-img-container{
    background: rgb(255,255,255);
    background: linear-gradient(to bottom right, rgba(255,255,255,1) 0%, rgba(241,246,241,1) 100%);
    width: 600px;
    max-width: 90vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cherry-img{
    height: 80%;
}

#cherry-title{
    font-family: 'BigSans', sans-serif;
    font-size: 64px;
    color: #B0F6FA;
    margin: 50px 0 0 0;
}

#cherry-description-container{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    padding: 0 50px;
}

#cherry-btn{
    background-color: #F472F4;
    border: unset;
    color: #fff;
    padding: 10px 20px 5px 20px;
    font-family: 'GreenGroveBold', serif;
    font-size: 24px;
    text-transform: uppercase;
    margin: 1rem 0;
    text-decoration: none;
}

.cherry-description{
    font-family: 'Futura-PT';
    width: 500px;
    max-width: 100%;
    font-size: 20px;
}