#retail-page{
    background-image: url('../Images/retail-barrels.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

#retail-container{
    width: 700px;
    max-width: 90vw;
    height: 500px;
    background-color: rgba(18,18,18,0.8);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}