#section2{
    width: 100%;
    background-color:  rgb(18,18,18);
    padding: 2rem;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  
  #section2 p{
    font-family: Gotham;
    letter-spacing: 1px;
    font-size: 1rem;
    line-height: 25px;
  }

.unclicked{
    height: 500px;
    width: auto;
    transition: 0.4s;
    margin: 0 3rem;
    z-index: 500;
  }
  
  .clicked{
    height: 500px;
    width: auto;
    transform:scale(1.2);
    transition: 0.4s;
    z-index: 501;
    margin: 0 3rem ;
    position: relative;
  }
  
  .clicked p{
    margin: unset;
  }
  
  .clicked:hover, .unclicked:hover{
    cursor: pointer;
  }
  
  .more-product-info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: top;
    justify-content: top;
    min-height: 400px;
    width: 90%;
  }
  .more-product-desc{
    width:60%;
    min-width: 300px;
    text-align: left;
    line-height: 2rem;
    font-size: 1.5rem;
  }
  
  .product-info-title{
    font-family: GreenGroveBold;
    font-size: 4rem;
    margin-top: 1rem;
    text-transform: uppercase;

  }

  #transparent{
      height: 550px;
      position: absolute;
      top: 0;
  }

  #cherries{
    width: 50%;
    position: absolute;
    left: 10%;
    top: 330px;
    z-index: 999;
    transition: 0.4s;

  }

  .divClicked{
    width: 184px;
    position: relative;
    margin: 0 1rem;
  }

  .divUnclicked{
    width: 154px;
    position: relative;
    margin: 0 1rem;
  }

  #home-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 940px;
    height: 500px;
    margin: 0 auto;
  }


  


@media only screen and (max-width: 850px) {
    #nav-items {
      display: none;
    }
    .container {
      display: inline-block;
      cursor: pointer;
      z-index: 999;
    }
    #scroll-container{
      bottom: 120px;
    }
    #desktop{
      display: none;
    }
    #mobile{
      display: block;
    }
  
    #section2 p{
      
      line-height: 20px;
    }

    #transparent{
        display: none;
    }
  }